<Config>
  <LogLevel>{{ getenv "SONARR__LOG_LEVEL" | default "info" }}</LogLevel>
  <UrlBase>{{ getenv "SONARR__URL_BASE" | default "" }}</UrlBase>
  <Branch>{{ getenv "SONARR__BRANCH" | default "master" }}</Branch>
  <ApiKey>{{ getenv "SONARR__API_KEY" | default "changeme" }}</ApiKey>
  <AuthenticationMethod>{{ getenv "SONARR__AUTHENTICATION_METHOD" | default "Forms" }}</AuthenticationMethod>
  <AuthenticationRequired>{{ getenv "SONARR__AUTHENTICATION_REQUIRED" | default "DisabledForLocalAddresses" }}</AuthenticationRequired>
  <InstanceName>{{ getenv "SONARR__INSTANCE_NAME" | default "Sonarr" }}</InstanceName>
  <Port>{{ getenv "SONARR__PORT" | default "8989" }}</Port>
  <BindAddress>{{ getenv "SONARR__BIND_ADDRESS" | default "*" }}</BindAddress>
  <LaunchBrowser>{{ getenv "SONARR__LAUNCH_BROWSER" | default "False" }}</LaunchBrowser>
  <EnableSsl>{{ getenv "SONARR__ENABLE_SSL" | default "False" }}</EnableSsl>
  <SslPort>{{ getenv "SONARR__SSL_PORT" | default "6969" }}</SslPort>
  <SslCertPath>{{ getenv "SONARR__SSL_CERT_PATH" | default "" }}</SslCertPath>
  <SslCertPassword>{{ getenv "SONARR__SSL_CERT_PASSWORD" | default "" }}</SslCertPassword>
  <UpdateMechanism>{{ getenv "SONARR__UPDATE_MECHANISM" | default "Docker" }}</UpdateMechanism>
  <AnalyticsEnabled>{{ getenv "SONARR__ANALYTICS_ENABLED" | default "False" }}</AnalyticsEnabled>
  <Theme>{{ getenv "SONARR__THEME" | default "auto" }}</Theme>
</Config>
